/* hex codes for color scheme: 
    -- midnight violet: #381D2A 
    -- baltic blue: #3E6990
    -- muted olive: #AABD8C 
    -- vanilla custard: #E9E3B4 
    -- dusty lavender: #825E6E
*/  

.main-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #AABD8C;
    position:relative;
    border: dashed 4px #381D2A;
}

.nav-menu {
    display: flex;
    gap: 0.5em;             
    justify-content: center; 
    font-family: "novantique-serif", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    font-style: normal;
}

.nav-menu li {
    list-style: none;
    font-size: 24px;
    text-align: center;
    font-family: "reiher-headline", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.nav-brand{
    font-family: "fabulosa", sans-serif;
    justify-content: center;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    color:#381D2A;
    text-align: left;
}

.nav-toggle{
    display:none;
    flex-direction:column;
    height:56px;
    padding:4px;
    border-radius:4px solid #3E6990;
    border:6px dashed #3E6990;
    background-color: #E9E3B4;
}

a{
    display: inline-block;
    text-decoration: none;
    background-color: #E9E3B4;
    text-align: center;
    padding: 4px;
    width: 150px;
    height: 40px;
    font-weight: bolder;
}
a:visited{
    margin: auto;
    background-color: transparent;
    text-align:center;
    color: #825E6E;
}

a:hover{
    color:#E9E3B4;
    background-color:#3E6990;
}

.team-photo{
    display: flex;
    padding:12px;
    border-radius:8px;
    border:6px dotted #381D2A;
    background-color:#825E6E;
    justify-content: center;
    margin-bottom: 32px;
}

.team-intro{
    text-align: center;
    font-family: "cafe-romantique", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #381D2A;
    margin: 24px;
}

.team-intro p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.nav-toggle{
    display:none;
    flex-direction:column;
    height:50px;
    padding:5px;
    border-radius:5px;
    border:0px;
    background-color:#a28894;
    transition:0.5s;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 24px;
}
.member-profile {
    background-color: #AABD8C;
    border: 4px dotted #381D2A;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    font-size: 20px;
    color: #381D2A;
}

.member-profile ul {
    list-style-type: none;
    padding-left: 20px;
}

#team-mem{
    text-align: center;
    font-family: "cafe-romantique", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    color: #381D2A;
    margin-top: 16px;
}

@media (max-width: 913px) {
    .nav-menu{
        display:none;
    }
    .nav-toggle{
        display:flex;
        position:absolute;
        top:24px;
        right:24px;
    }

    .hamburger{
        background-color: #381D2A;
        height:8px;
        width:36px;
        border-radius:18px;
        margin:4px; 
    }  

    .team-photo{
        width: 100%;
        max-height:75vh;

    }
}

/* hex codes for color scheme: 
    -- midnight violet: #381D2A 
    -- baltic blue: #3E6990
    -- muted olive: #AABD8C 
    -- vanilla custard: #E9E3B4 
    -- dusty lavender: #825E6E
*/  
