.main-nav {
    display:flex;
    justify-content:space-between;
    background-color:rgb(104, 55, 55);
    color:aliceblue;
    position:relative;
    padding:20px;
}



a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #1d164d;
  text-align: center;
  padding: 4px;
  width:150px;
  height:40px;
}

a:visited {
  background-color: #235c45;
  color: rgb(255, 255, 255);
}


a:hover {
  background-color: #84a28c;
  color:black;
}

.nav-menu{
    display:flex;
    gap: 0.5em;

    
    font-family: "DM Serif Text", serif;
     font-weight: 400;
     font-style: normal;
}

.nav-brand {
    font-size: 35px;
    font-style: italic;

    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-toggle {
    display:none;
    flex-direction:column;
    height:50px;
    padding:5px;
    border-radius:5px;
    border:0px;
    background-color:rgb(34, 54, 85);
    transition-duration: 0.5s;
}


@media (max-width: 768px) {
    .nav-menu{
        display:none;
    }
    .nav-toggle{
        display:flex;
        position:absolute;
        top:24px;
        right:24px;
    }

    .hamburger{
        background-color: darkblue;
        height:8px;
        width:36px;
        border-radius:18px;
        margin:4px; 
    }  
}

.nav-menu.show {
    display:flex;
    position:absolute;
    top:70px;
    right:2px;
    height:200px;
    width:150px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: rgb(35, 39, 73);
    color: white;
    padding:5px;
    border-radius:10px;
    z-index: 99;
} 

h1 { 
    font-size:24px;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#11306a;

    position: relative;
    left:10px;

}



p {
  font-family: "Slabo 13px", serif;
  font-weight: 400;
  font-style: normal;

  position: relative;
  left: 20px;
}

